@{
    ViewBag.Title = "Covid-19 Search App Updates";
}

<h2>Covid-19 Search App Updates</h2>


<h3>Apr 25, 2020</h3>
<ul>
    <li>Added latest research articles as of Apr 3, 2020, including PubMed content for a total of 69,195</li>
</ul>

<h3>Apr 18, 2020</h3>
<ul>
    <li>Added latest research articles as of Apr 3, 2020, including PubMed content for a total of 61,252</li>
</ul>

<h3>Apr 12, 2020</h3>
<ul>
    <li>Added latest research articles as of Apr 3, 2020, including PubMed content for a total of 59,655</li>
    <li>Enhanced date search to allow for clearing of dates</li>
    <li>Fixed bug, that did not pass terms to graph relationship page</li>
    <li>Recalculated semantic terms based on latest content</li>
</ul>

<h3>Apr 5, 2020</h3>
<ul>
    <li>Updated semantic terms index trained against latest content</li>
    <li>Enabled type-ahead search</li>
</ul>

<h3>Apr 4, 2020</h3>
<ul>
    <li>Added latest research articles as of Apr 3, 2020, including PubMed content for a total of 52,097</li>
    <li>Enabled a contextual document summary provided by <a href="https://www.agolo.com">Agolo</a> that summarizes a chosen document based on the search query</li>
    <li>Added a "Find Documents Like This" option for all search results to search for textualy similar articles </li>
</ul>


