<a class="nav-link active" href="javascript:void(0);" onclick="multiLevelFacetClick('@ViewData["facetField"]')">
    <span data-feather="file"></span>
    @ViewData["facetTitle"]
</a>

<script>
    function multiLevelFacetClick(text) {
        alert(text);
    }
</script>

